$app-wrapper-width: 1200px;
$sidebar-width: 15rem;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  box-sizing: border-box;

  padding: 3rem;
  background-color: black;
  color: white;
}

.app-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: $app-wrapper-width;
  margin: 0 auto;

  &__content {
    width: calc(100% - #{$sidebar-width});
    float: left;
  }

  &__sidebar {
    padding: 2rem;
    width: $sidebar-width;
    float: right;
    border-left: 1px solid white;

    ul {
      display: flex;
      flex-direction: column;

      a {
        &:link,
        &:visited {
          display: block;
          padding: 1rem;
          color: white;
          text-decoration: none;
          font-size: 1.2rem;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
